{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:70vh;">
    <div class="text-center">

        <img src="https://cdn-icons-png.flaticon.com/512/5991/5991165.png" width="120" class="mb-3">

        <h2 class="fw-bold text-danger mb-3">
            {{ title }}
        </h2>

        <p class="text-muted mb-4" style="font-size: 18px;">
            {{ message }}
        </p>

        <a href="/" class="btn btn-primary btn-lg">
            Go to Home
        </a>
    </div>
</div>

{% endblock %}
